**/*.map
**/*.min.css
**/*.min.js
assets/css/main.scss
assets/js/distillpub/template.v2.js
assets/js/search/*.js
assets/plotly/demo.html
lighthouse_results/**
_posts/2015-10-20-math.md
_sass/font-awesome/*.scss
_sass/tabler-icons/*.scss
_scripts/search.liquid.js
_config.yml
_data/
_sass/
_includes/
_layouts/
_news/announcement_2.md
_news/announcement_3.md
_news/announcement_4.md
_pages/about.md
_pages/blog.md
_pages/dropdown.md
_pages/projects.md
_pages/publications.md
_projects/P1.md
nick.code-workspace
notes/musings.md
README.md